{% extends 'yolo_site/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

    <h1 class="h3 fw-semibold">Generate Bill</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }} {{field}}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% bootstrap_field form.customer %}
        <table>
            <thead>
                <tr>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="modeltr">
                    <td>
                        <select name="med_id[]" class="form-select" title="" required="" id="id_med_id">
                            <option value="" selected="">---------</option>
                            {% for med in meds_list %}
                            <option value="{{med.id}}">{{med.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="number" name="quantity[]" min="0" class="form-control" placeholder="Quantity" title="" required="">
                    </td>
                    <td>
                        <button class="btn text-white centricon" type="button" onclick="removetr(this)"><span class="material-icons md-24">close</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info mt-4" id="addmorebtn" type="button">+ Add More</button>
        
        <br>
        <button class="btn btn-success mt-4" type="submit">Submit</button>
    </form>

    {{ meds_list|json_script:"meds_list" }}
    <script>
        const mth = document.querySelector('.modeltr').outerHTML;
        document.querySelector('#addmorebtn').addEventListener('click', function() {
            document.querySelector('tbody').insertAdjacentHTML('beforeend', mth);
        });

        function removetr(e) {
            const ie = e.parentElement.parentElement

            ie.parentElement.removeChild(ie);
        }
    </script>
{% endblock %}