{% extends 'yolo_site/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
    {% if not form.instance.pk %}
        <h1 class="display-5 fw-bold">Add Medicine</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-4 mb-3">
                    {% bootstrap_field form.company %}
                </div>
                <div class="col-md-1 mb-2">
                    {% bootstrap_field form.name %}
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="{{ form.salt_name.id_for_label }}">Content Name</label>
                    {{ form.salt_name }}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.shelf_number %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-3">
                    <label class="form-label" for="{{ form.salt_quantity.id_for_label }}">Content Quantity</label>
                    {{ form.salt_quantity }}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.unit %}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.pack_quantity %}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.stock %}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.buying_price %}
                </div>
                <div class="col-md-2 mb-3">
                    {% bootstrap_field form.selling_price %}
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <input class="btn btn-success" type="submit" value="Add Medicine">
            </div>
        </form>

    {% else %}
        <h1 class="display-5 fw-bold">Update Medicine</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-success me-2" value="Update Medicine">
                <a class="btn btn-secondary" href="{% url 'med_detail' pk=medicine.pk %}">Cancel</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
